<?xml version="1.0"?>
<config>
    <modules>
        <VS7_SkuUrls>
            <version>0.1.0</version>
        </VS7_SkuUrls>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <url>VS7_SkuUrls_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <url>VS7_SkuUrls_Model_Catalog_Resource_Url</url>
                </rewrite>
            </catalog_resource>
        </models>
        <events>
            <catalog_product_save_before>
                <observers>
                    <vs7_skuurls_set_product_url_key>
                        <type>singleton</type>
                        <class>VS7_SkuUrls_Model_Observer</class>
                        <method>setProductUrlKey</method>
                    </vs7_skuurls_set_product_url_key>
                </observers>
            </catalog_product_save_before>
            <catalog_category_save_before>
                <observers>
                    <vs7_skuurls_set_category_url_key>
                        <type>singleton</type>
                        <class>VS7_SkuUrls_Model_Observer</class>
                        <method>setCategoryUrlKey</method>
                    </vs7_skuurls_set_category_url_key>
                </observers>
            </catalog_category_save_before>
            <onec_product_array_edit_before_save>
                <observers>
                    <vs7_skuurls_set_category_url_key>
                        <type>singleton</type>
                        <class>VS7_SkuUrls_Model_Observer</class>
                        <method>setProductUrlKey</method>
                    </vs7_skuurls_set_category_url_key>
                </observers>
            </onec_product_array_edit_before_save>
            <onec_category_before_save>
                <observers>
                    <vs7_skuurls_set_category_url_key>
                        <type>singleton</type>
                        <class>VS7_SkuUrls_Model_Observer</class>
                        <method>setCategoryUrlKey</method>
                    </vs7_skuurls_set_category_url_key>
                </observers>
            </onec_category_before_save>
        </events>
    </global>
    <default>
        <web>
            <routers>
                <vs7_skuurls>
                    <area>frontend</area>
                    <class>VS7_SkuUrls_Controller_Router</class>
                </vs7_skuurls>
            </routers>
        </web>
    </default>
</config>